@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

body {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  background-color: #08172E;
  color: #fff;
}

.londrina-outline-regular {
  font-family: "Londrina Outline", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: #fff;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.searchBarTitle {
  font-size: 4rem;
}

.searchBar {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.searchBar button{
  margin-left: 1vw;
  margin-top: 1px;
  padding: 15px;
}

.searchBar input {
  margin-right: 2%;
  color: #fff;
}

.advancedSearch {
  margin-bottom: 1rem;
}

.arrowButton {
  color: #fff;
}

.optionGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 1rem 0;
}

.cardGroup{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 50vw;
}

.resultsHeader {
  margin-bottom: 1rem;
}

.resultCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 5px solid #FFFDD0;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
}

.resultCard {
  text-align: center;
  margin-bottom: 2%;
}

.logo{
  width: 100%; /* Make the image fill the card width */
  height: 150px; /* Set a specific height for the image */
  object-fit: contain; /* Scale the image to cover the space, maintaining aspect ratio */
  border-radius: 4px; 
}

/* .MuiSelect-select {
  color: white;
} */